<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">СЛАВА УКРАЇНІ</span>
            <div class="text-6xl text-primary font-bold mb-3">Мирного рішення не буде</div>
            <p class="mt-0 mb-4 text-700 line-height-3">Вранці 8 жовтня стало відомо, що на залізничній гілці кримського мосту потужна пожежа. Окупаційна влада Криму заявила, що на Кримському мосту нібито вибухнув вантажний автомобіль. Тим часом так званий глава "парламенту Криму" заявив, що дорожнє полотно на Кримському мосту пошкодили "українські вандали".</p>
            
            <a href="https://prytulafoundation.org/"  target="_blank"><button pButton pRipple label="Фонд Притули" type="button" class="mr-3 p-button-raised"></button></a>
            <a href="https://savelife.in.ua/" target="_blank"><button pButton pRipple label="Повернись живим" type="button" class="p-button-outlined"></button></a>
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="https://media.mehrnews.com/d/2022/10/12/3/4304264.jpg?ts=1665555768439" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
</div>