<div>
    <p-toast></p-toast>
    <h2>Переведення</h2>
    <p-table #dt [value]="selectedUnits">
        <ng-template pTemplate="caption">
            <div class="table-header">
                <p-dropdown
                [showClear]="true"
                [options]="units"
                [(ngModel)]="selectedUnit"
                filterBy="displayLabel"
                [filter]="true"
                optionLabel="displayLabel"
                placeholder="Виберіть бійця"
                class="p-mr-3">
                <ng-template let-unit pTemplate="item">
                    {{unit.lastName}} {{unit.firstName}} {{unit.secondName}}
                    </ng-template>
                </p-dropdown>
                <button pButton pRipple type="button" label="Додати" icon="pi pi-plus" iconPos="left" (click)="addSoldier(selectedUnit)" class="p-button p-mr-3"></button>                
            </div> 
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style='width:25%'>Боєць</th>
                <th style='width:25%'>Підрозділ</th>
                <th style='width:25%'>Посада</th>
                <th style='width:25%'>Звання</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-sunit>
            <tr>
                <td>
                    {{sunit.lastName}} {{sunit.firstName}} {{sunit.secondName}}
                </td>
                <td>
                    {{sunit.division.divisionNumber}}
                </td>
                <td>
                    {{sunit.position}}
                </td>
                <td>
                    {{sunit.rank}}
                </td>
            </tr>
        </ng-template>        
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">Бійці не вибрані.</td>
            </tr>
        </ng-template>
    </p-table>
    
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="card">
            <h5>Командир</h5>
            <div class="p-grid p-fluid">
                <div class="col-12 md:col-4">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input type="text" pInputText placeholder="Прізвище" [ngModel]="commander?.lastName" [ngModelOptions]="{standalone: true}" [readonly]="true">         
                    </div>
                </div>
                
                <div class="col-12 md:col-4">
                    <div class="p-inputgroup">
                        <input type="text" pInputText placeholder="Ім'я" [ngModel]="commander?.firstName" [ngModelOptions]="{standalone: true}" [readonly]="true" >   
                    </div>
                </div>
                        
                <div class="col-12 md:col-4">
                    <div class="p-inputgroup">
                        <input type="text" pInputText placeholder="По батькові" [ngModel]="commander?.secondName" [ngModelOptions]="{standalone: true}" [readonly]="true" >      
                    </div>
                </div>
                        
                <div class="col-12 md:col-6">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-shield"></i></span>
                        <input type="text" pInputText placeholder="Звання" [ngModel]="commander?.rank" [ngModelOptions]="{standalone: true}" [readonly]="true" >      
                    </div>
                </div>
                        
                <div class="col-12 md:col-6">
                    <div class="p-inputgroup">
                        <input type="text" pInputText placeholder="Номер підрозділу" [ngModel]="commander?.division?.divisionNumber" [ngModelOptions]="{standalone: true}" [readonly]="true">      
                    </div>
                </div>
            </div>
            <h5>Наказ</h5>
            <div class="p-grid p-fluid">
                <div class="col-12 md:col-3">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
                        <p-calendar placeholder="Дата" dateFormat="dd.mm.yy" dataType="string" inputId="dateformat" formControlName="currentDate"></p-calendar>
                    </div>
                </div>
                
                <div class="col-12 md:col-3">
                    <div class="p-inputgroup">
                        <input type="text" pInputText placeholder="Місто" formControlName="city">   
                    </div>
                </div>
                        
                <div class="col-12 md:col-3">
                    <div class="p-inputgroup">
                        <input type="text" pInputText placeholder="Назва" formControlName="decreeName">      
                    </div>
                </div>
                        
                <div class="col-12 md:col-3">
                    <div class="p-inputgroup">
                        <input type="text" pInputText placeholder="Номер" formControlName="decreeNumber">      
                    </div>
                </div>
            </div>
            <h5>Призначення бійця</h5>
            <div class="p-grid p-fluid">
                <div class="col-12 md:col-4">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
                        <p-calendar placeholder="Дата" dateFormat="dd.mm.yy" dataType="string" inputId="dateformat" formControlName="assignmentDate"></p-calendar>
                    </div>
                </div>
                
                <div class="col-12 md:col-4">
                    <div class="p-inputgroup">
                        <input type="text" pInputText placeholder="Номер" formControlName="assignmentNumber">   
                    </div>
                </div>
                        
                <div class="col-12 md:col-4">
                    <div class="p-inputgroup">
                        <input type="text" pInputText placeholder="Номер підрозділу" formControlName="assignmentDivisionNumber">      
                    </div>
                </div>
            </div>
            <h5>Нове призначення</h5>
            <div class="p-grid p-fluid">
                <div class="col-12 md:col-4">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
                        <p-calendar placeholder="Дата" dateFormat="dd.mm.yy" dataType="string" inputId="dateformat" formControlName="dismissDate"></p-calendar>
                    </div>
                </div>
                
                <div class="col-12 md:col-4">
                        <p-dropdown
                        [showClear]="true"
                        [options]="divisions"
                        [(ngModel)]="selectedDivision"
                        filterBy="displayLabel"
                        [filter]="true"
                        optionLabel="displayLabel"
                        placeholder="Виберіть підрозділ"
                        autoWidth="false"
                        class="w-full"
                        [ngModelOptions]="{standalone: true}">
                        <ng-template let-division pTemplate="item">
                            {{division.name}} {{division.divisionNumber}}
                            </ng-template>
                        </p-dropdown>
                </div>
                        
                <div class="col-12 md:col-4">
                    <div class="p-inputgroup">
                        <input type="text" pInputText placeholder="Відсоток премії" formControlName="percent">       
                        <span class="p-inputgroup-addon">%</span>      
                    </div>
                </div>
                        
                <div class="col-12 md:col-4">
                    <div class="p-inputgroup">
                        <input type="text" pInputText placeholder="Надбавка" formControlName="increasePercent">     
                        <span class="p-inputgroup-addon">%</span>        
                    </div>
                </div>
                
                <div class="col-12 md:col-4">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
                        <p-calendar placeholder="Початкова дата" dateFormat="dd.mm.yy" dataType="string" inputId="dateformat" formControlName="serviceDateFrom"></p-calendar>   
                    </div>
                </div>
                
                <div class="col-12 md:col-4">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
                        <p-calendar placeholder="Кінцева дата" dateFormat="dd.mm.yy" dataType="string" inputId="dateformat" formControlName="serviceDateTo"></p-calendar>
                    </div>
                </div>
            </div>
            <div class="p-d-flex p-flex-row-reverse p-pt-3">
                <p-button type="submit" label="Створити наказ" icon="pi pi-check"></p-button>
            </div>
        </div>
    </form>
</div>