# Build products
obj/
bin/
dist/
r/
/test/
/coverage/

# Visual Studio
.vs/
*.user
*.cache

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# npm
node_modules/

# Testing
TestResults
TestResult*.xml

# Temporary files
*.log
*.old
*.tmp

# Git
*.orig
*.patch
*.rej

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings

# Windows junk
Thumbs.db
Desktop.ini

# macOS junk
.DS_Store
.idea

# documents
*.pdf

#vs code
**/.vscode/**

# MilitaryManager\MilitaryManager.Attachments.API\wwwroot\fonts\.uuid
.uuid
