<h2>Будь ласка завершіть реєстрацію</h2>
<div class="p-grid p-mt-4">
    <div class=" p-col-4">
        <span class="p-float-label">
            <input id="float-input" type="text" pInputText [(ngModel)]="firstname" [ngClass]="{'ng-invalid ng-dirty': useRedClass}"> 
            <label for="float-input">Ім'я</label>
        </span>
    </div>
    <div class=" p-col-4">
        <span class="p-float-label">
            <input id="float-input" type="text" pInputText [(ngModel)]="middlename" [ngClass]="{'ng-invalid ng-dirty': useRedClass}"> 
            <label for="float-input">По батькові</label>
        </span>
    </div>
    <div class=" p-col-4">
        <span class="p-float-label">
            <input id="float-input" type="text" pInputText [(ngModel)]="lastname" [ngClass]="{'ng-invalid ng-dirty': useRedClass}"> 
            <label for="float-input">Прізвище</label>
        </span>
    </div>
</div>

<div class="p-grid p-mt-2">
    <div class=" p-col-4">
        <span class>
            <p-dropdown [options]="ranks" [(ngModel)]="selected_rank" placeholder="Ранг" optionLabel="name" [showClear]="true" [ngClass]="{'ng-invalid ng-dirty': useRedClass}"></p-dropdown>
        </span>
    </div> 
    <div class=" p-col-4">
        <span class>
            <p-dropdown [options]="positions" [(ngModel)]="selected_position" placeholder="Посада" optionLabel="name" [showClear]="true" [ngClass]="{'ng-invalid ng-dirty': useRedClass}"></p-dropdown>
        </span>
    </div> 
    <div class=" p-col-4">
        <span class>
            <p-dropdown [options]="divisions" [(ngModel)]="selected_division" placeholder="Частина" optionLabel="name" [showClear]="true" [ngClass]="{'ng-invalid ng-dirty': useRedClass}"></p-dropdown>
        </span>
    </div> 
</div>
<div class=" p-col-4">
    <p-button (click)="EndRegistrationBtn()" label="Завершити"></p-button>
    <p-messages></p-messages>
</div> 
