<hr>
<div class="p-float-label p-grid p-mt-4 p-col-4">
  <input type="text" pInputText id="inputtext" value={{unit.firstName}}>
  <label for="inputtext">First Name</label>
</div>
<hr>

<div class="p-float-label p-grid p-mt-4 p-col-4">
  <input type="text" pInputText>
  <label for="inputtext">Middle Name</label>
</div>
<hr>

<div class="p-float-label p-grid p-mt-4 p-col-4">
  <input type="text" pInputText>
  <label for="inputtext">Last Name</label>
</div>
<hr>

<div class="p-float-label p-grid p-mt-4 p-col-4">
  <input type="text" pInputText>
  <label for="inputtext">Rank</label>
</div>
<hr>

<div class="p-float-label p-grid p-mt-4 p-col-4">
  <input type="text" pInputText>
  <label for="inputtext">Position</label>
</div>
<hr>

<div class="p-float-label p-grid p-mt-4 p-col-4">
  <input type="text" pInputText>
  <label for="inputtext">Division</label>
</div>

