
  <p>Інформація про бійця</p>
  <hr>
  <div class="p-float-label">
    <input type="text" pInputText id="inputLastName" [value]=unit.lastName readonly>
    <label for="inputLastName">Прізвище</label>
  </div>
  <hr>

  <hr>
  <div class="p-float-label">
    <input type="text" pInputText id="inputFirstName" [value]=unit.firstName readonly>
    <label for="inputFirstName">Ім'я</label>
  </div>
  <hr>

  <hr>
  <div class="p-float-label">
    <input type="text" pInputText id="inputSecondName" [value]=unit.secondName readonly>
    <label for="inputSecondName">По батькові</label>
  </div>
  <hr>


  <!--<hr>-->
  <!--<div class="p-float-label">-->
  <!--  <input type="text" pInputText id="123" [value]=unit.lastName readonly>-->
  <!--  <label for="">Прізвище</label>-->
  <!--</div>-->
  <!--<hr>-->


  <br>
  <div>
    <p-button (onClick)="clearFields()">Очистити поля</p-button>
  </div>

