<div class="card">
  <h5>ПІБ</h5>
  <input type="text" pInputText [(ngModel)]="userName" size="50px" readonly>
  <h5>Звання</h5>
  <input type="text" pInputText [(ngModel)]="rank" size="50px" readonly>
  <h5>Посада</h5>
  <input type="text" pInputText [(ngModel)]="position" size="50px" readonly>
  <div *ngFor="let attribute of unitModel.profiles" class="margin">
      <h5>
        {{attribute.name}}
      </h5>
      <input type="text" pInputText [(ngModel)]="attribute.value" size="50px" readonly>
  </div>
</div>

