<div class="content-section implementation p-d-flex" id="container">
  <div class="card" id="tree">
    <p-tree [value]="units" (onNodeExpand)="nodeExpand($event)" [loading]="loading"
            selectionMode="single" (onNodeSelect)="nodeSelect($event)"
    ></p-tree>
  </div>

<!--  unit info-->
  <div class="content-section implementation p-d-flex">

    <div class="content-section implementation p-d-flex">
      <div class="card">

        <p>Інформація про бійця</p>

        <!--  pib-->
        <hr>
        <div class="p-float-label">
          <input type="text" pInputText id="lastNameInput" [(ngModel)]="unit.lastName" readonly>
          <label for="lastNameInput">Прізвище</label>
        </div>
        <hr>


        <div class="p-float-label">
          <input type="text" pInputText id="firstNameInput" [(ngModel)]="unit.firstName"  readonly>
          <label for="firstNameInput">Ім'я</label>
        </div>
        <hr>
      </div>
    </div>


<!-- profiles-->
    <div class="content-section implementation p-d-flex">
      <div class="card">

        <p>Додаткова інформація про бійця</p>

        <!--  pib-->
        <hr>
        <div class="p-float-label" *ngFor="let profile of unit.profiles">
          <p>{{profile.name}} : {{profile.value}}</p>
          <input type="text" pInputText  [(ngModel)]="profile.value" readonly placeholder="value">
        </div>
        <hr>

      </div>
    </div>


    <!-- equipment-->
    <div class="content-section implementation p-d-flex">
      <div class="card">

        <p>Обладнання бійця</p>
        <hr>
        <div class="p-float-label">
          <input type="text" pInputText  [(ngModel)]="unit.firstName" readonly>
          <label for="lastNameInput">Прізвище</label>
        </div>

        <hr>



        <hr>
      </div>
    </div>


  </div>

</div>
