<div>
    <p-toast></p-toast>
    <p-confirmPopup></p-confirmPopup>
    <p-tabView [controlClose]="true" (onClose)="handleClose($event)" [(activeIndex)]="currentTab">
        <p-tabPanel header="Накази" leftIcon="pi pi-file">
            <p-table #dt [value]="decrees" [scrollable]="true" [globalFilterFields]="['name']" scrollHeight="50vh">
                <ng-template pTemplate="caption">
                    <div class="table-header">
                        <div>
                            <button pButton pRipple [routerLink]="['/attachments/add']" type="button" label="New decree" class="p-button p-mr-2"></button>
                        </div>              
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Name" />
                        </span>  
                    </div> 
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th *ngFor="let col of cols" [ngStyle]="{'width': col.width}">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-decree>
                    <tr>
                        <td>
                            {{decree.name}}
                        </td>
                        <td>
                            {{decree.path}}
                            <i class="pi pi-download" (click)="download(decree.id, decree.path)" [ngStyle]="{color:'var(--primary-color)'}" style="cursor: pointer"></i>
                        </td>
                        <td>
                            {{decree.pathSigned}}
                            <input type="file" accept="application/pdf" #file placeholder="Choose file" (change)="uploadFile(decree.id,file.files)" style="display:none;">   
                            <i *ngIf="!isUploading && decree.pathSigned != null" class="pi pi-download" (click)="downloadSigned(decree.id, decree.pathSigned)" [ngStyle]="{color:'var(--primary-color)'}" style="cursor: pointer;"></i>
                            <i *ngIf="!isUploading && decree.pathSigned != null && decree.statusId != 4" class="pi pi-upload p-pl-1" (click)="file.click()" [ngStyle]="{color:'var(--primary-color)'}" style="cursor: pointer;"></i>      
                            <i *ngIf="!isUploading && decree.pathSigned == null" class="pi pi-upload" (click)="file.click()" [ngStyle]="{color:'var(--primary-color)'}" style="cursor: pointer; display: flex; justify-content: center;"></i>  
                        </td>
                        <td>
                            {{decree.timeStamp| date : 'dd.MM.yyyy HH:mm'}}
                        </td>
                        <td>
                            {{decree.template}}
                        </td>
                        <td>
                            <span [class]="'decree-badge status-' + decree.status.toLowerCase()">{{decree.status}}</span>
                        </td>
                        <td [ngStyle]="{'width': '5%'}">
                            <button [disabled]="decree.statusId != 3" pButton pRipple type="button" icon="pi pi-check" (click)="completeDecree($event, decree.id)" [class]="'p-button-rounded p-button-text p-mr-2 ' + (decree.statusId != 3 ?'p-button-secondary' : 'p-button-success')"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel header="Шаблони" leftIcon="pi pi-copy">            
            <div class="p-d-flex p-flex-row-reverse">
                <div class="p-md-3">
                    <div class="p-inputgroup">
                        <button type="button" pButton pRipple label="Search"></button>
                        <input type="text" pInputText placeholder="Name">         
                    </div>
                </div>
            </div>
            <div class="p-d-flex p-flex-row">                
                <div *ngFor="let template of templates" class="p-card p-p-1 p-md-3 p-d-flex p-flex-column">
                    <div class="p-card-header p-d-flex p-jc-center p-pt-4">
                        <i class="pi pi-copy" style="font-size: 3rem"></i>
                    </div>
                    <div class="p-card-body p-d-flex p-flex-column p-ai-center p-col">
                        <div class="p-card-title p-col p-text-center">
                            {{template.type}}
                        </div>
                        <div class="p-card-subtitle">
                            Наказ
                        </div>
                        <div class="p-card-footer">
                            <button pButton pRipple icon="pi pi-check" type="button" label="Select" class="p-button-outlined" (click)="addNewDocument()"></button>
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel *ngFor="let tab of tabs; let i = index" header="{{tab}}" [closable]="true">
            <div #tabDoc></div>
        </p-tabPanel>
    </p-tabView>
</div>