<div>
    <p-tabView [controlClose]="true" (onClose)="handleClose($event)" [(activeIndex)]="currentTab">
        <p-tabPanel header="Накази" leftIcon="pi pi-file">
            <div class="p-d-flex p-flex-row p-jc-between">
                <div class="p-p-2">
                    <button pButton pRipple type="button" label="New document" class="p-button-outlined p-mr-2"></button>
                    <button pButton pRipple type="button" label="Primary" class="p-button-outlined p-mr-2"></button>
                    <button pButton pRipple type="button" label="Primary" class="p-button-outlined"></button>
                </div>
                <div class="p-md-3">
                    <div class="p-inputgroup">
                        <button type="button" pButton pRipple label="Search"></button>
                        <input type="text" pInputText placeholder="Name">         
                    </div>
                </div>
            </div>
            <!-- Adjust scroll height -->
            <p-table [value]="decrees" [scrollable]="true" scrollHeight="50vh">
                <ng-template pTemplate="header">
                    <tr>
                        <th *ngFor="let col of cols">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-decree>
                    <tr>
                        <td *ngFor="let col of cols; let index = index">
                            {{decree[col.field]}}
                            <i *ngIf="col.field =='path'" class="pi pi-download" (click)="download(decree.id, decree.path)" [ngStyle]="{color:'var(--primary-color)'}" style="cursor: pointer"></i>
                            <input type="file" accept="application/pdf" #file placeholder="Choose file" (change)="uploadFile(decree.id,file.files)" style="display:none;">
                            <i *ngIf="col.field =='pathSigned' && !isUploading" class="pi pi-upload" (click)="file.click()" [ngStyle]="{color:'var(--primary-color)'}" style="cursor: pointer; display: flex; justify-content: center;"></i>        
                            <i *ngIf="isUploading && col.field =='pathSigned'" class="pi pi-spin pi-spinner" style="font-size: 1rem; display: flex; justify-content: center;"></i>                 
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel header="Шаблони" leftIcon="pi pi-copy">            
            <div class="p-d-flex p-flex-row-reverse">
                <div class="p-md-3">
                    <div class="p-inputgroup">
                        <button type="button" pButton pRipple label="Search"></button>
                        <input type="text" pInputText placeholder="Name">         
                    </div>
                </div>
            </div>
            <div class="p-d-flex p-flex-row">                
                <div *ngFor="let template of templates" class="p-card p-p-1 p-md-3 p-d-flex p-flex-column">
                    <div class="p-card-header p-d-flex p-jc-center">
                        <i class="pi pi-copy" style="font-size: 3rem"></i>
                    </div>
                    <div class="p-card-body p-d-flex p-flex-column p-ai-center p-col">
                        <div class="p-card-title p-col p-text-center">
                            {{template.name}}
                        </div>
                        <div class="p-card-subtitle">
                            Наказ
                        </div>
                        <div class="p-card-footer">
                            <button pButton pRipple icon="pi pi-check" type="button" label="Select" class="p-button-outlined" (click)="addNewDocument()"></button>
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel *ngFor="let tab of tabs; let i = index" header="{{tab}}" [closable]="true">
            <div #tabDoc></div>
        </p-tabPanel>
    </p-tabView>
</div>