<h2>Створити наказ</h2>
<h5>Додати бійця</h5>
<p-toast></p-toast>
<p-dropdown [options]="units" [(ngModel)]="selectedUnit" optionLabel="id" [filter]="true" filterBy="id" [showClear]="true" placeholder="Виберіть бійця">
        <ng-template let-unit pTemplate="item">
                    {{unit.id}}
        </ng-template>
    </p-dropdown>
<button pButton type="button" label="Додати" class="p-button-raised p-button-rounded" class="p-button" (click)="handleClick(selectedUnit)"></button>
<div class="add-decree">
        <p-table [value]="decrees" dataKey="id" editMode="row" responsiveLayout="scroll" class="decrees">
            <ng-template pTemplate="header">
                <tr>
                    <th scope="col" style='width:30%'>Боєць</th>
                    <th scope="col" style='width:30%'>Підстава</th> 
                    <th scope="col" style='width:20%'>Дата</th>
                    <th scope="col" style='width:20%'>Виплата</th>
                    <th scope="col" style="width:8rem"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-decree let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="decree">
                    <td style='width:30%'>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="decree.soldier.id">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{decree.soldier.id}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style='width:30%'>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="decree.action">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{decree.action}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style='width:20%'>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type='date' name="date" [(ngModel)]="decree.date">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{decree.date | date:'dd.MM.yyyy'}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style='width:20%'>
                        <ng-template pTemplate="input"></ng-template>
                        <input p-tableCheckbox type="checkbox"  [(ngModel)]="decree.payOff">
                    </td>
                    <td style="width:8rem">
                        <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(decree)" class="p-button-rounded p-button-text"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(decree, ri)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(decree, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    <button pButton type="button" label="Створити наказ" class="p-button-raised p-button-rounded" class="p-button-lg"></button>
</div> 
