.decrees::ng-deep .p-cell-editing {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.decrees::ng-deep  td{
    text-align: center !important;
}

.decrees::ng-deep  th{
    text-align: center !important;
}

.add-decree{
    table-layout: auto !important;
}

.p-button-lg {
    float: right;
    text-align: right;
}
