#decree .p-cell-editing {
    padding-top: 0;
    padding-bottom: 0;
}

#decree td {
    text-align: center;
}

#decree th {
    text-align: center;
}

.p-button-lg {
    float: right;
    text-align: right;
}
