<p>unitList works!</p>
<div class="content-section implementation " id="container">
  <div class="card"  id="tree">
    <p-tree [value]="units" (onNodeExpand)="nodeExpand($event)" [loading]="loading"
            selectionMode="single" (onNodeSelect)="nodeSelect($event)"
    ></p-tree>
  </div>

  <!--  unit info-->
<!--  <div class="content-section implementation p-d-flex">-->

<!--    <div class="content-section implementation p-d-flex">-->
<!--      <div class="card">-->

<!--        <p>Інформація про бійця</p>-->

<!--        &lt;!&ndash;  pib&ndash;&gt;-->
<!--        <hr>-->
<!--        <div class="p-float-label">-->
<!--          <input type="text" pInputText id="lastNameInput" [(ngModel)]="unit.lastName" readonly>-->
<!--          <label for="lastNameInput">Прізвище</label>-->
<!--        </div>-->
<!--        <hr>-->


<!--        <div class="p-float-label">-->
<!--          <input type="text" pInputText id="firstNameInput" [(ngModel)]="unit.firstName" readonly>-->
<!--          <label for="firstNameInput">Ім'я</label>-->
<!--        </div>-->
<!--        <hr>-->

<!--        <div class="p-float-label">-->
<!--          <input type="text" pInputText id="middleNameInput" [(ngModel)]="unit.secondName" readonly>-->
<!--          <label for="middleNameInput">По батькові</label>-->
<!--        </div>-->
<!--        <hr>-->


<!--        &lt;!&ndash;         division&ndash;&gt;-->
<!--        <div class="p-float-label">-->
<!--          <input type="text" pInputText id="divisionInput" [(ngModel)]="divisionName" readonly>-->
<!--          <label for="divisionInput">Підрозділ</label>-->
<!--        </div>-->
<!--        <hr>-->

<!--        &lt;!&ndash;        <input type="text" pInputText  [(ngModel)]="unit.division.name"  readonly>&ndash;&gt;-->

<!--        &lt;!&ndash;        commander&ndash;&gt;-->
<!--        <div class="p-float-label">-->
<!--          <input type="text" pInputText id="parentInput" [(ngModel)]="parentFullName" readonly>-->
<!--          <label for="parentInput">Командир</label>-->
<!--        </div>-->
<!--        <hr>-->

<!--        &lt;!&ndash;       rank&ndash;&gt;-->
<!--        <div class="p-float-label">-->
<!--          <input type="text" pInputText id="rankInput" [(ngModel)]="unit.rank" readonly>-->
<!--          <label for="rankInput">Ранг</label>-->
<!--        </div>-->
<!--        <hr>-->

<!--        &lt;!&ndash;       position&ndash;&gt;-->
<!--        <div class="p-float-label">-->
<!--          <input type="text" pInputText id="positionInput" [(ngModel)]="unit.position" readonly>-->
<!--          <label for="positionInput">Позиція</label>-->
<!--        </div>-->
<!--        <hr>-->

<!--      </div>-->
<!--    </div>-->


<!--    &lt;!&ndash;profiles&ndash;&gt;-->
<!--    <div class="content-section implementation p-d-flex">-->
<!--      <div class="card">-->

<!--        <p>Додаткова інформація про бійця</p>-->

<!--        &lt;!&ndash;  pib&ndash;&gt;-->
<!--        <hr>-->
<!--        <div class="p-float-label" *ngFor="let profile of unit.profiles">-->
<!--          <span>{{profile.name}}: </span>-->
<!--&lt;!&ndash;          <span>{{profile.value}}</span>&ndash;&gt;-->
<!--          <div>-->
<!--            <input type="text" pInputText [(ngModel)]="profile.value" readonly>-->
<!--          </div>-->
<!--        </div>-->
<!--        <hr>-->

<!--      </div>-->
<!--    </div>-->


<!--    &lt;!&ndash; equipment&ndash;&gt;-->
<!--    <div class="content-section implementation p-d-flex">-->
<!--      <div class="card">-->

<!--        <p>Обладнання бійця</p>-->
<!--        <hr>-->
<!--        <div class="p-float-label">-->
<!--          <input type="text" pInputText value="Обладнання1" readonly>-->
<!--          <label for="lastNameInput">Обладнання1</label>-->
<!--        </div>-->

<!--        <hr>-->

<!--      </div>-->
<!--    </div>-->


<!--  </div>-->


<!--  <button (click)="click()">send id</button>-->


</div>
