<div class="content-section implementation p-d-flex" id="container">
  <div class="card" id="tree">
    <p-tree [value]="divisions" selectionMode="single" (onNodeSelect)="nodeSelect($event)"></p-tree>
  </div>
  <div class="card" id="division_info">
    <p>Інформація про частину</p>
        <hr>
        <p-table [value]="[{}]" responsiveLayout="scroll">
          <ng-template pTemplate="header">
              <tr>
                  <th>Назва</th>
                  <th>Номер частини</th>
                  <th>Адреса</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body">
              <tr>
                  <td>{{division.name}}</td>
                  <td>{{division.divisionNumber}}</td>
                  <td>{{division.address}}</td>
              </tr>
          </ng-template>
        </p-table>
  </div>
</div>