<h2>Добавити команира</h2>
<div class="p-grid p-mt-4">
    <div class=" p-col-4">
        <span class="p-float-label">
            <input type="text" id="inputtext" pInputText [(ngModel)]="username" [ngClass]="{'ng-invalid ng-dirty': useRedClass}">
            <label for="inputtext">Пошта</label>
        </span>
    </div>
    <div class=" p-col-4">
        <span class="p-float-label">
            <input type="text" id="inputtext" pInputText [(ngModel)]="password" [ngClass]="{'ng-invalid ng-dirty': useRedClass}">
            <label for="inputtext">Пароль</label>
        </span>
    </div>
    <div class=" p-col-4">
        <span class="p-float-label">
            <p-dropdown [options]="roles" placeholder="Виберіть роль" [(ngModel)]="role" optionLabel="name" optionValue="value" [showClear]="true" [ngClass]="{'ng-invalid ng-dirty': useRedClass}"></p-dropdown>
        </span>
    </div> 
    <div class=" p-col-4">
        <p-button label="Створити" (onClick)="addCommander()"></p-button>
        <p-messages></p-messages>
    </div> 
</div>
